<H1>Welcome Mr.Manager</H1>
<ul>
  <li>
    <a mat-button routerLink="addStaff" routerLinkActive="mat-accent">ADD STAFF</a>
  </li>
  <!-- <li>
    <a mat-button routerLink="deleteStaff" routerLinkActive="mat-accent">DELETE STAFF</a>
  </li> -->
  <li>
    <a mat-button routerLink="customerSignUp" routerLinkActive="mat-accent">ADD CUSTOMER</a>
    <!-- <li>
    <a mat-button routerLink="listProduct" routerLinkActive="mat-accent">LIST PRODUCTS</a>
  </li> -->
  <li>
    <a mat-button routerLink="listCustomer" routerLinkActive="mat-accent">LIST CUSTOMER</a>
  </li>
  <li>
    <a mat-button routerLink="order" routerLinkActive="mat-accent">ADD ORDER</a>
  </li>
  <li>
    <a mat-button routerLink="listOrder" routerLinkActive="mat-accent">LIST ORDER</a>
  </li>

</ul>
<router-outlet></router-outlet>
